include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/auroral_integration *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/auroral_integration/migration *.ini *.py *.mako
